**/.env
**/*.deb
**/*.key
**/*.volume/*
**/*.volumes/*
**/artifactory/volumes/*
**/*.ovpn
**/*.pem
**/tmp.json
ForMe
**/*.token
**/.terraform/
**/node_modules
**/*.zip
**/aws/lambda/task1/lambda-requests/
**/.secret
**/secret.yml
**/secret.yaml
**/k8s/*/volume
**/eksctl*/tar.gz